###### Requirements without Version Specifiers ######

flask
flask-sqlalchemy
flask-wtf
flask-bootstrap
flask-login
flask-moment
email-validator
WTForms==2.3.3
WTForms-SQLAlchemy==0.2
python-dotenv
pytest
phonenumbers
sentry-sdk[flask]
SQLAlchemy