body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
}

.form-container {
    min-height: 1200px;
}

.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
    text-decoration: aquamarine;
}
a:hover {
    color:#2387D9;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}
.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: large;
    padding: 5px;
}

.postmessage {
    font-family: sans-serif;
    padding: 2px;
    font-size: medium;
}

.postline {
    font-family: sans-serif;
    padding: 2px;
    font-size: medium;
}

.posttimestamp {
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
    font-size: small;
    font-weight: bold;
}

.useritem{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: blue; 
    text-transform: uppercase;
}

.username{
    text-align: left;
    padding: 2px;
    margin: 1px 1px 1px 1px;
    color: blue;
    text-transform: uppercase;
}

.useremail{
    text-align: left;
    padding: 2px;
    margin: 1px 1px 1px 1px;
    color: blue; 
}

.pagetitle{
    text-align: right;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: crimson; 
    text-transform: uppercase;
}

.postuser{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: gray; 
    font-size: medium;
}

.likecount {
    text-align: center;
    font-weight: bold;
    font-size: small;
}

.likebtn {
    margin: 0 auto;
    height: 40px;
    width: 50px;
    border: 0px;
    vertical-align: middle;
    background-image: url("..//img//like.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
} 
.likebtn:hover {
    background-image: url("..//img//like_hover.png");
    cursor:pointer;
}

.textinput {
	padding : 2px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	width : 400px;
}

.forminput {
	padding : 5px;
    margin: 10px 0px 10px 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	width : 20%;
}

.flash-container {
    background: rgb(119, 185, 207);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 17px;
	padding: 15px;
	margin: 10px 0px 10px 0px;
}

.formtitle {
    font-size: 18px;
    width : 80%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.formbody {
    font-size: 18px;
    width: 80%;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.formselect {
    height: 40px;
    font-style: normal;
    margin: 10px 10px 20px 10px;
    padding: 5px;
}

.postlist {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1200px){
    .post-box {
        display: flex;
        vertical-align: middle;
        background-color: white;
        width: 32%;
        margin: auto;
        padding: 5px;
    }
}

@media screen and (min-width: 800px) and (max-width:1200px){
    .post-box {
        display: flex;
        vertical-align: middle;
        background-color: white;
        width: 48%;
        margin: auto;
        padding: 5px;
    }
}

@media screen and (max-width:800px){
    .post-box {
        display: flex;
        vertical-align: middle;
        background-color: white;
        width: 99%;
        margin: auto;
        padding: 5px;
    }
}

.tagitem {
    padding:1px 1px 1px 1px;
    color: #555555;
    background-color: #eeeeee;
    border: #000000 1px solid;
    margin: 2px;
    width: fit-content;
    text-align: center;
    object-position: auto;
}

