<table class="posttable" style="width: 100%" valign="top">
    <tr>
        <td colspan="3">
            <div class="posttitle">{{post.title}}</div>
        </td>
    </tr>
    <tr>
        <td width="80%">
            <div class="postmessage">Description: {{ post.description }}</div>
            <div class="postline">
                Position begins on {{ moment(post.startdate).format('L') }} and
                ends on {{ moment(post.enddate).format('L') }}
            </div>
            <div class="postline">
                The time commitment is expected to be about {{
                post.timecommitment }} hours per week.
            </div>
            <div class="postmessage">
                Required qualifications: {{ post.qualifications }}
            </div>
        </td>
    </tr>
    <tr height="10%">
        <td height="10%" colspan="3" class="taglist">
                {% for ResearchField in post.get_ResearchFields().all(): %}
                <span class="tagitem"> {{ ResearchField.name }} </span>
                {% endfor %}
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center" valign="bottom">
            <span class="postuser">
                Posted by:<span class="name">
                    {{ post.writer.firstname }} {{ post.writer.lastname }}</span>
                - Email:<span class="useremail"> {{ post.writer.email }}</span>
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center" valign="bottom">
            <div class="posttimestamp">
                Posted at: {{ moment(post.timestamp).format('LLL') }}
            </div>
        </td>
        
    </tr>
    <tr>
        {% if current_user.faculty == False and post.get_Applications().filter_by(userid=current_user.id).first() != None %}
        <tr>
            <td class="studentApplicationStatusTitle">
                APPLICATION STATUS:
            </td>
        </tr>
    {% endif %}
    <tr>
        {% if current_user.faculty == False and post.get_Applications().filter_by(userid=current_user.id).first() == None %}
            <td>
                <form action="{{url_for('routes.apply', post_id = post.id)}}" method="post">
                    <input type="submit" value="Apply" class="button" >
                </form>
            </td>
        {% elif (current_user.faculty == False and post.get_Applications().filter_by(userid=current_user.id).first() != None) and post.get_Applications().filter_by(userid=current_user.id).first().hired == False %}
            <td>
                <form action="{{url_for('routes.cancelApplication', application_id = post.get_Applications().filter_by(userid=current_user.id).first().id)}}" method="post">
                    <input type="submit" value="Cancel" class="button" >
                </form>
            </td>
        {% endif %}
    </tr>
        {% if current_user.faculty == False and post.get_Applications().filter_by(userid=current_user.id).first().approved == True %}
            <td class="studentApplicationStatus">
                You have been approved for an interview. Please use the contact information above to schedule an interview.
            </td>
        {% endif %}
        {% if current_user.faculty == False and post.get_Applications().filter_by(userid=current_user.id).first().hired == True %}
            <td class="studentApplicationStatus">
                You have been hired for this position. Please use the contact information above to follow up for your next steps.
            </td>
        {% endif %}
        {% if current_user.faculty == False and post.get_Applications().filter_by(userid=current_user.id).first().nothired == True %}
            <td class="studentApplicationStatus">
                You application for this position has been denied. Please use the contact information above to further any question regarding this.
            </td>
        {% endif %}
        {% if current_user.faculty == False and post.get_Applications().filter_by(userid=current_user.id).first() != None and post.get_Applications().filter_by(userid=current_user.id).first().approved == False and post.get_Applications().filter_by(userid=current_user.id).first().hired == False and post.get_Applications().filter_by(userid=current_user.id).first().nothired == False %}
        <td class="studentApplicationStatus">
            Your application has been submitted successfully. Please check in every few days for an update on your application.
        </td>
        {% endif %}
        {% if current_user.faculty == True %}
            <td>
                <form action="{{url_for('routes.delete', post_id = post.id)}}" method="post">
                    <input type="submit" value="Delete" class="button" >
                </form>
            </td>
            <td width="80%">
                <div class="postmessage">
                    Students who have applied: 
                    {% for Application in post.get_Applications().all() %}
                        <br>* <a href=" {{ url_for('routes.display_profile', user_id = Application.userid) }} ">{{ Application.preferredname }}</a>
                        <a href=" {{ url_for('routes.becoming_hired', app_id = Application.id) }} ">Hire</a>
                        {% if User.query.filter_by(id=Application.userid).first().approved == True %}
                            <span class="status">(Approved for interview elsewhere)</span>
                        {% endif %}
                        {% if User.query.filter_by(id=Application.userid).first().hired == True and Application.hired == False %}
                            <span class="status">(Hired elsewhere)</span>
                        {% endif %}
                        {% if User.query.filter_by(id=Application.userid).first().hired == True and Application.hired == True %}
                            <span class="status">(Hired For this Position Already)</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
        {% endif %}
    </tr>
</table>