<html>
    <head>
       {% if title %}
          <title>{{ title }}</title>
       {% else %}
          <title> Welcome to the WSU VCEA Undergraduate Research Portal! </title>
       {% endif %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
       {{ moment.include_moment() }}

    </head>

    <body>
        <div class ="nav-container">
        <table>
            <tr>
                <td><a href="{{ url_for('routes.index') }}" class = "button">Home</a></td>
                {%if current_user.faculty == True %}
                <td><a href="{{ url_for('routes.post') }}" class = "button">Post New Position</a></td>
                <td><a href="{{ url_for('routes.myposts') }}" class = "button">View My Positions</a></td>
                {% endif %}
                {%if current_user.admin == True %}
                <td><a href="{{ url_for('routes.add_field') }}" class = "button">Add Tags</a></td>
                {% endif %}
                {%if current_user.is_anonymous %}
                <td><a href="{{ url_for('auth.login') }}" class = "button">Login</a></td>
                {% else %}
                <td><a href="{{ url_for('routes.display_profile') }}" class = "button">Profile</a></td> 
                <td><a href="{{ url_for('auth.logout') }}" class = "button">Logout</a></td>
                <td> User: <span class="useritem">{{ current_user.username }} </span></td>
                <td> <span class="pagetitle"> Welcome to the WSU VCEA Undergraduate Research Portal! </span></td>
                {% endif %}
            </tr>
        </table>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="flash-container"> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>