<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to the WSU VCEA Undergraduate Research Portal!</title>
        {% endif %}
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/main.css') }}"
        />
        {{ moment.include_moment() }}
    </head>
    <body>
        <ul>
            <li>
                    <img
                    src="{{ url_for('static', filename = '../static/img/WSU-square-logo.png' )}}"
                    width="40px"
                    />
            </li>
            <li>
                <a href="{{ url_for('routes.index') }}" class="button">
                    Home
                </a>
            </li>
            {%if current_user.faculty == True %}
                <li>
                    <a href="{{ url_for('routes.post') }}" class="button">
                        Post New Position
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('routes.myposts') }}" class="button">
                        View My Positions
                    </a>
                </li>
            {% endif %}
            {%if current_user.admin == True %}
                <li>
                    <a href="{{ url_for('routes.add_field') }}" class = "button">
                        Add Research Fields
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('routes.remove_field') }}" class = "button">
                        Remove Research Fields
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('routes.show_faculty') }}" class = "button">
                        Update User Permissions
                    </a>
                </li>
            {% endif %}
            {%if current_user.is_anonymous %}
                <li>
                    <a href="{{ url_for('auth.login') }}" class="button">
                        Login
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('routes.display_profile', user_id = current_user.id) }}" class="button">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}" class="button">
                        Logout
                    </a>
                </li>
                <li>
                    <span class="pagetitle">
                        Welcome to the WSU VCEA Undergraduate Research Portal!
                    </span>
                </li>
                <li style="float: right;">
                        <span align-items="center">
                            User:
                        </span>
                        <span align-items="center" class="useritem">
                            {{ current_user.username }}
                        </span>
            {% endif %}
        </ul>
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="flash-container">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                {% endblock %}
            </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
