{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    {% if form %}
        <div class="form-container">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                    <p> {{ form.firstname.label }}</p>
                    <p> {{ form.firstname(class='textinput')}}</p>

                    {% for error in form.firstname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <p> {{ form.lastname.label }}</p>
                    <p> {{ form.lastname(class='textinput')}}</p>

                    {% for error in form.lastname.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
    <!--
                    wsuid = IntegerField('WSUID', [Length(min=8, max=9)])
                    major = StringField('Major')
                    gpa = StringField('GPA' [Length(max=4)])
                    graduationDate = DateField('Expected Graduation')
                    phone = FormField(TelephoneForm) -->

                    <p> {{ form.major.label }}</p>
                    <p> {{ form.major(class='textinput')}}</p>

                    {% for error in form.major.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <p> {{ form.gpa.label }}</p>
                    <p> {{ form.gpa(class='textinput')}}</p>

                    {% for error in form.gpa.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <p> {{ form.graduationDate.label }}</p>
                    <p> {{ form.graduationDate(class='textinput')}}</p>

                    {% for error in form.graduationDate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <p> {{ form.phone.label }}</p>
                    <p> {{ form.phone(class='textinput')}}</p>

                    {% for error in form.phone.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <p> {{ form.experience.label }}</p>
                    <p> {{ form.experience(class='textinput')}}</p>

                    {% for error in form.experience.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <p> {{ form.electives.label }}</p>
                    <p> {{ form.electives(class='textinput')}}</p>

                    {% for error in form.electives.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <table>
                    <tr>

                        <p>{{ form.languages.label }}</p>
                        <p>{{ form.languages(class="formselect")}}</p>
                    </tr>
                    <tr>

                        <span><p>{{ form.fields.label }}</p></span>
                        <span><p>{{ form.fields(class="formselect")}}</p></span>
                    </tr>
                    <tr>
                        {{ form.submit(class='button') }}
                    </tr>
                    </table>
                </div>
            </form>
        </div>
    {% endif %}

{% endblock %}